<%- include('../partials/header') %>

<section>

    <table>
        <tr>
            <th>AIRLINE</th>
            <th>AIRPORT</th>
            <th>FLIGHT NUMBER</th>
            <th>DEPARTURE</th>
        </tr>
        <% flights.forEach(f => { %>
            <tr <%- new Date() > f.departs ? 'class="red"' : '' %>>
                <td> <%= f.airline %> </td>
                <td> <%= f.airport %> </td>
                <td> <%= f.flightNo %> </td>
                <td> <%= f.departs %> </td>
                <td><a href="/flights/<%=f._id%>">Details</a></td>
            </tr>
            <% }); %>
        </table>
        <br>
        <a href="/flights/new">ADD NEW FLIGHT</a>

</section>


<%- include('../partials/footer') %>