<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/flights">All Flights</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/flights/new">Add Flight <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
    <h1> <%=title%> </h1>

    <table>
        <tr>
            <th>AIRLINE</th>
            <th>AIRPORT</th>
            <th>FLIGHT NUMBER</th>
            <th>DEPARTURE</th>
        </tr>
        <% flights.forEach(f => { %>
        <tr>
            <td> <%= f.airline %> </td>
            <td> <%= f.airport %> </td>
            <td> <%= f.flightNo %> </td>
            <td> <%= f.departs %> </td>
            <td><a href="/flights/<%=f._id%>">Details</a></td>
        </tr>
        <% }); %>
    </table>
    <br>
    <a href="/flights/new">ADD NEW FLIGHT</a>
</body>

</html>