<%- include('../partials/header') %>

<section>

    <table>
        <tr>
            <th>AIRLINE</th>
            <th>AIRPORT</th>
            <th>FLIGHT NUMBER</th>
            <th>DEPARTURE</th>
        </tr>
        <tr>
            <td> <%= flight.airline %> </td>
            <td> <%= flight.airport %> </td>
            <td> <%= flight.flightNo %> </td>
            <td> <%= flight.departs %> </td>
        </tr>
    </table>
    <br>
    <form action="/flights/<%=flight._id%>?_method=DELETE" method="POST">
        <button type='submit'>Delete Flight</button>
    </form>
    <br>
    <br>
    <h3>Destinations:</h3>
    <table>
        <tr>
            <th>AIRPORT</th>
            <th>ARRIVAL</th>
        </tr>
        <% flight.destinations.forEach(f => { %>
            <tr>
                <td> <%= f.airport %> </td>
                <td> <%= f.arrival %> </td>
                <td>
                    <form action="/flights/<%=f._id%>/destinations?_method=DELETE" method="POST">
                        <button type='submit'>Delete Destination</button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </table>
        
        <br>
        <br>
        <h3>Enter Your Stops:</h3>
        <form action="/flights/<%=flight._id%>" method="POST">
            <label for="airport">Airport:</label>
            <select name="airport">
                <option value="AUS" <%- flight.airport === 'AUS' ? 'disabled' : '' %>>AUS</option>
                <option value="DFW" <%- flight.airport === 'DFW' ? 'disabled' : '' %>>DFW</option>
                <option value="DEN" <%- flight.airport === 'DEN' ? 'disabled' : '' %>>DEN</option>
                <option value="LAX" <%- flight.airport === 'LAX' ? 'disabled' : '' %>>LAX</option>
                <option value="SAN" <%- flight.airport === 'SAN' ? 'disabled' : '' %>>SAN</option>
            </select>
            <br>
            <label for="arrival">Arrival Time:</label>
            <input type="datetime-local" name="arrival" required>
            <button type="submit">Add Destination</button>
        </form>

</section>
        
<%- include('../partials/footer') %>